.column {
    float: left;
    width: 70%;
    padding: 10px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.sentiment-column {
    float: left;
    width: 15%;
    padding: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.bar-container {
    float: left;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 30px;
    display: flex;
}
.positive {
    background-color: lawngreen;
    height: inherit;
    border-radius: 13px 0px 0px 13px;
    text-align: center;
}
.negative {
    background-color: orangered;
    height: inherit;
    border-radius: 0px 13px 13px 0px;
    text-align: center;
}
.loading{
    text-align: center;
}
.tooltip {
  position: relative;
  display: inline-block;
  
}
/* Tooltip text */
.tooltip .tooltiptext {
    
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px ;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}



/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}